* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}


body {

    background-color: #8A51FC;


}


#logo {

    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin: 12px auto 16px;

}


#caixa {


    background-color: #F4F4F4;
    width: 375px;
    border-radius: 20px;
    margin: 0 auto;
    padding: 44px 24px 23px;
    margin-bottom: 20px;

}


label {

    font-size: 14;
    line-height: 18px;
    font-weight: 400;
    color: #777777;

}


select,
input {


    height: 48px;
    width: 100%;
    font-size: 16px;
    color: #555555;
    line-height: 18px;
    font-weight: 700;
    padding-left: 18px;
    outline: none;
    appearance: none;
    border: 1px solid #BBBBBB;
    background: #FFFFFF;
    border-radius: 4px;
    margin-bottom: 24px;
    cursor: pointer;

}



button {


    width: 327px;
    height: 48px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #772FD3;
    color: #FFFFFF;
    cursor: pointer;

}

button:hover {

    opacity: 0.8;

}


button:active {

    opacity: 0.6;

}


.moeda-a-converter, .moeda-convertida{

color: #555555;
font-weight: 700;
font-size: 18px;


}

.currency{

color: #777777;
font-size: 15px;

}


section {

    border: 1px solid #772FD3;
    border-radius: 20px;
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 13px;
    gap: 15px;

}

.currency-box {

    display: flex;
    flex-direction: column;
    align-items: center;

}


@media screen and (min-height: 670px) {

    #logo {

        zoom: 50%;

    }


    #caixa {

        zoom: 70%;
        margin-bottom: 5px;

    }

}